[Unit]
Description=Mount unit for core, revision 10444
Before=snapd.service

[Mount]
What=/var/lib/snapd/snaps/core_10444.snap
Where=/snap/core/10444
Type=squashfs
Options=nodev,ro,x-gdu.hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
